@import "reset";

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(159deg, rgba(27,27,27,1) 0%, rgba(37,37,37,1) 100%);
}

.github-ico{
    position: absolute;
    right: 30px;
    bottom: 15px;
    font-size: 2.5rem;
    color: #fff;
    text-shadow: 0 0 5px rgba(15, 15, 15, 0.89);
    &:hover{
        color: darken(#fff, 10%);
    }
}

.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 450px;
    &__h1{
        font-size: 60px;
        &--question{
            font-size: 30px;
        }
    }
    &__h2{
        font-size: 18px;
    }
    &__img{
        width: 200px;
    }
    &__input{
        width: 90%;
        border: 2px solid #222;
        border-radius: 5px;
    }
}